[submodule "vim_files/vim/bundle/snipmate"]
	path = vim_files/vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim_files/vim/bundle/nerdtree"]
	path = vim_files/vim/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "vim_files/vim/bundle/supertab"]
	path = vim_files/vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim_files/vim/bundle/minibufexpl"]
	path = vim_files/vim/bundle/minibufexpl
	url = https://github.com/sontek/minibufexpl.vim.git
[submodule "vim_files/vim/bundle/conque"]
	path = vim_files/vim/bundle/conque
	url = https://github.com/rygwdn/vim-conque
